<p id="notice"><%= notice %></p>

<h1>Listing Simulators</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulators.each do |simulator| %>
      <tr>
        <td><%= simulator.id %></td>
        <td><%= simulator.name %></td>
        <td><%= simulator.url %></td>
        <td><%= link_to 'Show', simulator %></td>
        <td><%= link_to 'Edit', edit_simulator_path(simulator) %></td>
        <td><%= link_to 'Destroy', simulator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulator', new_simulator_path %>
