<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @simulator.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @simulator.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @simulator.url %>
</p>

<%= link_to 'Edit', edit_simulator_path(@simulator) %> |
<%= link_to 'Back', simulators_path %>
